TECGRAF_ICON ICON "tecgraf.ico"
CURSOR_PEN CURSOR "pen.cur"
COMPUTER BITMAP "computer.bmp"
DISK BITMAP "disk.bmp"

COMPUTER_ICON ICON "computerico.ico"
DISK_ICON ICON "diskico.ico"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Mogilno Corporation\0"
            VALUE "LegalCopyright", "(c) Mogilno Corporation 1989-2026\0"
            VALUE "FileDescription", "File Manager\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "OriginalFilename", "filemanager.exe\0"
            VALUE "ProductName", "File Manager\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0, 1252
    END
END

1 24 "iup64.manifest"
